<h2>New Listing</h2>

<form action="/listings/new" method='post'>
<input type="text" name="name" placeholder="Space name" />
<input type="text" name="description" placeholder="Please add a description" />
<input type="text" name="daily_price" placeholder="Set daily price" />
<input type="submit" value="List" />
</form>

<form action="/listings">
	<input type="submit" value="Back" />
</form>