<h2>Listings</h2>

<form action="/listings/new">
	<input type="submit" value="Add New Listing" />
</form>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Button</th>
  </tr>
	<% @user_spaces.each do |space| %>
  <tr>
    <td><%= space.name %></td>
    <td><%= space.description %></td>
    <td><%= space.daily_price %></td>
    <td><form action="/listings/<%= space.id %>"><input type="submit" value="View" /></form>
  </tr>
	<% end %>

<form action="/welcome">
	<input type="submit" value="Back" />
</form>
