<form action="/sign_up" method='post'>
<input type="text" name="username" placeholder="Your username" />
<input type="password" name="password" placeholder="Your password" />
<input type="submit" value="Sign Up" />
</form>
